<button class="btn 
    {{#if isWarning}}btn-{{#if isOutline}}outline-{{/if}}warning{{/if}}
    {{#if isError}}btn-{{#if isOutline}}outline-{{/if}}danger{{/if}}
    {{#if isSuccess}}btn-{{#if isOutline}}outline-{{/if}}success{{/if}}
    {{#if isPrimary}}btn-{{#if isOutline}}outline-{{/if}}primary{{/if}}
    me-3">

        {{name}}

</button>