<button class="btn 
    {{#if isWarning}}btn-{{#if isOutline}}outline-{{/if}}warning{{/if}}
    {{#if isDanger}}btn-{{#if isOutline}}outline-{{/if}}danger{{/if}}
    {{#if isSuccess}}btn-{{#if isOutline}}outline-{{/if}}success{{/if}}
    {{#if isPrimary}}btn-{{#if isOutline}}outline-{{/if}}primary{{/if}}
    {{#if isSecondary}}btn-{{#if isOutline}}outline-{{/if}}secondary{{/if}}
    {{#if isInfo}}btn-{{#if isOutline}}outline-{{/if}}info{{/if}}
    me-3" href=" {{href}}">

        {{name}}

</button>