<a href="{{href}}" 
    class="{{class}} {{#if isActive}}active{{/if}}" 
    {{#if isDisabled}} disabled {{/if}}
    {{#if blank}} target="_blank" {{/if}} 
    {{#if blank}} target="_blank" {{/if}}>
    
    {{text}}
    
</a> 